<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI9A1h3ztfEZVgYerH7ZOsaGW6VtMqFCg</string>
	<key>GCM_SENDER_ID</key>
	<string>22404686388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appointmentBooking1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appointment-booking-1</string>
	<key>STORAGE_BUCKET</key>
	<string>appointment-booking-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22404686388:ios:5cb11a77981d581bd1a061</string>
</dict>
</plist>